In [1]:
import cv2
import csv
import collections
import numpy as np
from tracker import *
import os
import pandas as pd
# Initialize Tracker
tracker = EuclideanDistTracker()
input_size = 480
# Detection confidence threshold
confThreshold =0.1
nmsThreshold= 0.2

In [2]:
with open("Up_Data.csv", 'a+', newline='') as f1:
    cwriter = csv.writer(f1)
    cwriter.writerow(['Direction','Car', 'Motorbike', 'Bus', 'Truck'])
f1.close()
with open("Down_Data.csv", 'a+', newline='') as f1:
    cwriter = csv.writer(f1)
    cwriter.writerow(['Direction', 'Car', 'Motorbike', 'Bus', 'Truck'])
f1.close()

In [3]:
  # Middle cross line position
middle_line_position = 350
up_line_position = middle_line_position - 10
down_line_position = middle_line_position + 10

In [4]:
font_color = (0, 0, 255)
font_size = 0.5
font_thickness = 1

In [5]:
# Store Coco Names in a list
classesFile = "coco.names"
classNames = open(classesFile).read().strip().split('\n')
print(classNames)
print(len(classNames))

['person', 'bicycle', 'car', 'motorbike', 'aeroplane', 'bus', 'train', 'truck', 'boat', 'traffic light', 'fire hydrant', 'stop sign', 'parking meter', 'bench', 'bird', 'cat', 'dog', 'horse', 'sheep', 'cow', 'elephant', 'bear', 'zebra', 'giraffe', 'backpack', 'umbrella', 'handbag', 'tie', 'suitcase', 'frisbee', 'skis', 'snowboard', 'sports ball', 'kite', 'baseball bat', 'baseball glove', 'skateboard', 'surfboard', 'tennis racket', 'bottle', 'wine glass', 'cup', 'fork', 'knife', 'spoon', 'bowl', 'banana', 'apple', 'sandwich', 'orange', 'broccoli', 'carrot', 'hot dog', 'pizza', 'donut', 'cake', 'chair', 'sofa', 'pottedplant', 'bed', 'diningtable', 'toilet', 'tvmonitor', 'laptop', 'mouse', 'remote', 'keyboard', 'cell phone', 'microwave', 'oven', 'toaster', 'sink', 'refrigerator', 'book', 'clock', 'vase', 'scissors', 'teddy bear', 'hair drier', 'toothbrush']
80

In [6]:
# class index for our required detection classes
required_class_index = [2, 3, 5, 7]

detected_classNames = []

In [7]:
## Model Files
modelConfiguration = 'yolov3-320.cfg'
modelWeights = 'yolov3-320.weights'
# configure the network model
net = cv2.dnn.readNetFromDarknet(modelConfiguration, modelWeights)
# Configure the network backend
net.setPreferableBackend(cv2.dnn.DNN_BACKEND_CUDA)
net.setPreferableTarget(cv2.dnn.DNN_TARGET_CUDA)
# Define random colour for each class
np.random.seed(42)
colors = np.random.randint(0, 255, size=(len(classNames), 3), dtype='uint8')

In [8]:
# Function for finding the center of a rectangle
def find_center(x, y, w, h):
    x1=int(w/2)
    y1=int(h/2)
    cx = x+x1
    cy=y+y1
    return cx, cy

In [9]:
# List for store vehicle count information
temp_up_list = []
temp_down_list = []
up_list = [0, 0, 0, 0]
down_list = [0, 0, 0, 0]

# Function for count vehicle
def count_vehicle(box_id, img):

    x, y, w, h, id, index = box_id

    # Find the center of the rectangle for detection
    center = find_center(x, y, w, h)
    ix, iy = center
    
    # Find the current position of the vehicle
    if (iy > up_line_position) and (iy < middle_line_position):

        if id not in temp_up_list:
            temp_up_list.append(id)

    elif iy < down_line_position and iy > middle_line_position:
        if id not in temp_down_list:
            temp_down_list.append(id)
            
    elif iy < up_line_position:
        if id in temp_down_list:
            temp_down_list.remove(id)
            up_list[index] = up_list[index]+1

    elif iy > down_line_position:
        if id in temp_up_list:
            temp_up_list.remove(id)
            down_list[index] = down_list[index] + 1

    # Draw circle in the middle of the rectangle
    cv2.circle(img, center, 2, (0, 0, 255), -1)  # end here
#     print(up_list, down_list)

In [10]:
# Function for finding the detected objects from the network output
def postProcess(outputs,img):
    global detected_classNames 
    height, width = img.shape[:2]
    boxes = []
    classIds = []
    confidence_scores = []
    detection = []
    for output in outputs:
        for det in output:
            scores = det[5:]
            classId = np.argmax(scores)
            confidence = scores[classId]
            if classId in required_class_index:
                if confidence > confThreshold:
                    # print(classId)
                    w,h = int(det[2]*width) , int(det[3]*height)
                    x,y = int((det[0]*width)-w/2) , int((det[1]*height)-h/2)
                    boxes.append([x,y,w,h])
                    classIds.append(classId)
                    confidence_scores.append(float(confidence))

    # Apply Non-Max Suppression
    indices = cv2.dnn.NMSBoxes(boxes, confidence_scores, confThreshold, nmsThreshold)
    # print(classIds)
    for i in indices.flatten():
        x, y, w, h = boxes[i][0], boxes[i][1], boxes[i][2], boxes[i][3]
        # print(x,y,w,h)

        color = [int(c) for c in colors[classIds[i]]]
        name = classNames[classIds[i]]
        detected_classNames.append(name)
        # Draw classname and confidence score 
        cv2.putText(img,f'{name.upper()} {int(confidence_scores[i]*100)}%',
                  (x, y-10), cv2.FONT_HERSHEY_SIMPLEX, 0.5, color, 1)

        # Draw bounding rectangle
        cv2.rectangle(img, (x, y), (x + w, y + h), color, 1)
        detection.append([x, y, w, h, required_class_index.index(classIds[i])])

    # Update the tracker for each object
    boxes_ids = tracker.update(detection)
    for box_id in boxes_ids:
        count_vehicle(box_id, img)

In [11]:
def realTime():
    try:
        while True:
            success, img = cap.read()
            img = cv2.resize(img,(0,0),None,0.5,0.5)
            ih, iw, channels = img.shape
            blob = cv2.dnn.blobFromImage(img, 1 / 255, (input_size, input_size), [0, 0, 0], 1, crop=False)

            # Set the input of the network
            net.setInput(blob)
            layersNames = net.getLayerNames()
            outputNames = [(layersNames[i - 1]) for i in net.getUnconnectedOutLayers()]
            # Feed data to the network
            outputs = net.forward(outputNames)

            # Find the objects from the network output
            postProcess(outputs,img)

            # Draw the crossing lines

            cv2.line(img, (0, middle_line_position), (iw, middle_line_position), (255, 0, 255), 2)
            cv2.line(img, (0, up_line_position), (iw, up_line_position), (0, 0, 255), 2)
            cv2.line(img, (0, down_line_position), (iw, down_line_position), (0, 0, 255), 2)
    
            # Draw counting texts in the frame
            cv2.putText(img, "Up", (110, 20), cv2.FONT_HERSHEY_SIMPLEX, font_size, font_color, font_thickness)
            cv2.putText(img, "Down", (160, 20), cv2.FONT_HERSHEY_SIMPLEX, font_size, font_color, font_thickness)
            cv2.putText(img, "Car:        "+str(up_list[0])+"     "+ str(down_list[0]), (20, 40), cv2.FONT_HERSHEY_SIMPLEX, font_size, font_color, font_thickness)
            cv2.putText(img, "Motorbike:  "+str(up_list[1])+"     "+ str(down_list[1]), (20, 60), cv2.FONT_HERSHEY_SIMPLEX, font_size, font_color, font_thickness)
            cv2.putText(img, "Bus:        "+str(up_list[2])+"     "+ str(down_list[2]), (20, 80), cv2.FONT_HERSHEY_SIMPLEX, font_size, font_color, font_thickness)
            cv2.putText(img, "Truck:      "+str(up_list[3])+"     "+ str(down_list[3]), (20, 100), cv2.FONT_HERSHEY_SIMPLEX, font_size, font_color, font_thickness)

            # Show the frames
            cv2.imshow('Output', img)

            if cv2.waitKey(1) == ord('q'):
                break

        # Write the vehicle counting information in a file and save it
    except Exception as e:
        with open("Up_Data.csv", 'a+', newline='') as f1:
            cwriter = csv.writer(f1)
            up_list.insert(0, "Up")
            cwriter.writerow(up_list)
        f1.close()
        
        with open("Down_Data.csv", 'a+', newline='') as f2:
            cwriter = csv.writer(f2)
            down_list.insert(0, "Down")
            cwriter.writerow(down_list)
        f2.close()
        
        # print("Data saved at 'data.csv'")
        # Finally realese the capture object and destroy all active windows
        cap.release()
        cv2.destroyAllWindows()
        pass

In [15]:
path = 'D:\\Capstone_Project_videos'
files = os.listdir(path)
# print(files)

In [23]:
vid = []
for i in range(5):
    f = files[i:i+5]
print(f)

['VID_20211027_162951.mp4', 'VID_20211027_163005.mp4', 'VID_20211027_163019.mp4', 'VID_20211027_163032.mp4', 'VID_20211027_163045.mp4']

In [12]:
path = 'D:\\Capstone_Project_videos'
files = os.listdir(path)
print(files)

location_list = []
for j in range(1, int(len(files)+1)):
    location_name = 'Location_{}'.format(j)
    location_list.append(location_name)

['VID_20211027_162856.mp4', 'VID_20211027_162910.mp4', 'VID_20211027_162923.mp4', 'VID_20211027_162937.mp4', 'VID_20211027_162951.mp4', 'VID_20211027_163005.mp4', 'VID_20211027_163019.mp4', 'VID_20211027_163032.mp4', 'VID_20211027_163045.mp4', 'VID_20211027_163059.mp4', 'VID_20211027_163111.mp4', 'VID_20211027_163126.mp4', 'VID_20211027_163139.mp4', 'VID_20211027_163157.mp4', 'VID_20211027_163211.mp4', 'VID_20211027_163223.mp4', 'VID_20211027_163247.mp4', 'VID_20211027_163300.mp4', 'VID_20211027_163312.mp4', 'VID_20211027_163324.mp4', 'VID_20211027_163338.mp4', 'VID_20211027_163350.mp4', 'VID_20211027_163403.mp4', 'VID_20211027_163416.mp4', 'VID_20211027_163429.mp4', 'VID_20211027_163442.mp4', 'VID_20211027_163455.mp4', 'VID_20211027_163509.mp4', 'VID_20211027_163522.mp4', 'VID_20211027_163534.mp4', 'VID_20211027_163547.mp4', 'VID_20211027_163600.mp4', 'VID_20211027_163614.mp4', 'VID_20211027_163630.mp4', 'VID_20211027_163644.mp4', 'VID_20211027_163657.mp4', 'VID_20211027_163710.mp4', 'VID_20211027_163724.mp4', 'VID_20211027_163737.mp4', 'VID_20211027_163751.mp4', 'VID_20211027_163807.mp4', 'VID_20211027_163820.mp4', 'VID_20211027_163833.mp4', 'VID_20211027_163847.mp4', 'VID_20211027_163900.mp4', 'VID_20211027_163912.mp4', 'VID_20211027_163925.mp4', 'VID_20211027_163939.mp4', 'VID_20211027_163952.mp4', 'VID_20211027_164005.mp4', 'VID_20211027_164018.mp4', 'VID_20211027_164031.mp4', 'VID_20211027_164043.mp4', 'VID_20211027_164056.mp4', 'VID_20211027_164107.mp4', 'VID_20211027_164120.mp4', 'VID_20211027_164133.mp4', 'VID_20211027_164146.mp4', 'VID_20211027_164158.mp4', 'VID_20211027_164213.mp4', 'VID_20211027_164225.mp4', 'VID_20211027_164238.mp4', 'VID_20211027_164250.mp4', 'VID_20211027_164303.mp4', 'VID_20211027_164316.mp4', 'VID_20211027_164330.mp4', 'VID_20211027_164342.mp4', 'VID_20211027_164400.mp4', 'VID_20211027_164414.mp4', 'VID_20211027_164426.mp4', 'VID_20211027_164439.mp4', 'VID_20211027_164452.mp4', 'VID_20211027_164506.mp4', 'VID_20211027_164518.mp4', 'VID_20211027_164531.mp4', 'VID_20211027_164549.mp4', 'VID_20211027_164603.mp4', 'VID_20211027_164615.mp4', 'VID_20211027_164628.mp4', 'VID_20211027_164640.mp4', 'VID_20211027_164653.mp4', 'VID_20211027_164706.mp4', 'VID_20211027_164724.mp4', 'VID_20211027_164738.mp4', 'VID_20211027_164756.mp4', 'VID_20211027_164809.mp4', 'VID_20211027_164821.mp4', 'VID_20211027_164834.mp4', 'VID_20211027_164852.mp4', 'VID_20211027_164904.mp4', 'VID_20211027_164917.mp4', 'VID_20211027_164931.mp4', 'VID_20211027_164945.mp4', 'VID_20211027_164958.mp4', 'VID_20211027_165011.mp4', 'VID_20211027_165023.mp4', 'VID_20211027_165035.mp4', 'VID_20211027_165048.mp4', 'VID_20211027_165100.mp4', 'VID_20211027_165113.mp4', 'VID_20211027_165129.mp4', 'VID_20211027_165142.mp4', 'VID_20211027_165155.mp4', 'VID_20211027_165208.mp4', 'VID_20211027_165226.mp4', 'VID_20211027_165238.mp4', 'VID_20211027_165251.mp4', 'VID_20211027_165303.mp4', 'VID_20211027_165316.mp4', 'VID_20211027_165329.mp4', 'VID_20211027_165342.mp4', 'VID_20211027_165354.mp4', 'VID_20211027_165407.mp4', 'VID_20211027_165420.mp4', 'VID_20211027_165433.mp4', 'VID_20211027_165446.mp4', 'VID_20211027_165502.mp4', 'VID_20211027_165515.mp4', 'VID_20211027_165528.mp4', 'VID_20211027_165541.mp4', 'VID_20211027_165557.mp4', 'VID_20211027_165617.mp4', 'VID_20211027_165629.mp4', 'VID_20211027_165642.mp4', 'VID_20211027_165655.mp4', 'VID_20211027_165707.mp4', 'VID_20211027_165720.mp4', 'VID_20211027_165733.mp4', 'VID_20211027_165747.mp4', 'VID_20211027_165759.mp4', 'VID_20211027_165812.mp4', 'VID_20211027_165824.mp4', 'VID_20211027_165837.mp4', 'VID_20211027_165854.mp4', 'VID_20211027_165914.mp4', 'VID_20211027_165945.mp4', 'VID_20211027_170022.mp4', 'VID_20211027_170034.mp4', 'VID_20211027_170050.mp4', 'VID_20211027_170104.mp4', 'VID_20211027_170146.mp4', 'VID_20211027_170202.mp4', 'VID_20211027_170227.mp4', 'VID_20211027_170239.mp4', 'VID_20211027_170252.mp4', 'VID_20211027_170305.mp4', 'VID_20211027_170317.mp4', 'VID_20211027_170326.mp4', 'VID_20211027_170342.mp4', 'VID_20211027_170354.mp4', 'VID_20211027_170407.mp4', 'VID_20211027_170422.mp4', 'VID_20211027_170435.mp4', 'VID_20211027_170449.mp4', 'VID_20211027_170501.mp4', 'VID_20211027_170515.mp4', 'VID_20211027_170528.mp4', 'VID_20211027_170541.mp4', 'VID_20211027_170553.mp4', 'VID_20211027_170605.mp4', 'VID_20211027_170617.mp4', 'VID_20211027_170630.mp4', 'VID_20211027_170642.mp4', 'VID_20211027_170658.mp4', 'VID_20211027_170711.mp4', 'VID_20211027_170724.mp4', 'VID_20211027_170745.mp4', 'VID_20211027_170758.mp4', 'VID_20211027_170811.mp4', 'VID_20211027_170824.mp4', 'VID_20211027_170836.mp4', 'VID_20211027_170848.mp4', 'VID_20211027_170901.mp4', 'VID_20211027_170913.mp4', 'VID_20211027_170926.mp4', 'VID_20211027_170938.mp4', 'VID_20211027_170951.mp4', 'VID_20211027_171004.mp4', 'VID_20211027_171015.mp4', 'VID_20211027_171029.mp4', 'VID_20211027_171045.mp4', 'VID_20211027_171101.mp4', 'VID_20211027_171114.mp4', 'VID_20211027_171126.mp4', 'VID_20211027_171141.mp4', 'VID_20211027_171153.mp4', 'VID_20211027_171205.mp4', 'VID_20211027_171216.mp4', 'VID_20211027_171228.mp4', 'VID_20211027_171240.mp4', 'VID_20211027_171251.mp4', 'VID_20211027_171303.mp4', 'VID_20211027_171314.mp4', 'VID_20211027_171324.mp4', 'VID_20211027_171336.mp4', 'VID_20211027_171348.mp4', 'VID_20211027_171400.mp4', 'VID_20211027_171412.mp4', 'VID_20211027_171423.mp4', 'VID_20211027_171435.mp4', 'VID_20211027_171446.mp4', 'VID_20211027_171456.mp4', 'VID_20211027_171526.mp4', 'VID_20211027_171550.mp4', 'VID_20211027_171621.mp4', 'VID_20211027_171637.mp4', 'VID_20211027_171651.mp4', 'VID_20211027_171703.mp4', 'VID_20211027_171715.mp4', 'VID_20211027_171728.mp4', 'VID_20211027_171741.mp4', 'VID_20211027_171754.mp4', 'VID_20211027_171806.mp4', 'VID_20211027_171818.mp4', 'VID_20211027_171830.mp4', 'VID_20211027_171842.mp4', 'VID_20211027_171855.mp4', 'VID_20211027_171907.mp4', 'VID_20211027_171920.mp4']

In [ ]:
for i in files:
    i = 'D:\\Capstone_Project_videos\\'+i #addres
    cap = cv2.VideoCapture(i)
    realTime()
    up_list = [0, 0, 0, 0]
    down_list = [0, 0, 0, 0]

In [15]:
location_list

['Location_1',
 'Location_2',
 'Location_3',
 'Location_4',
 'Location_5',
 'Location_6',
 'Location_7',
 'Location_8',
 'Location_9',
 'Location_10',
 'Location_11',
 'Location_12',
 'Location_13',
 'Location_14',
 'Location_15',
 'Location_16',
 'Location_17',
 'Location_18',
 'Location_19',
 'Location_20',
 'Location_21',
 'Location_22',
 'Location_23',
 'Location_24',
 'Location_25',
 'Location_26',
 'Location_27',
 'Location_28',
 'Location_29',
 'Location_30',
 'Location_31',
 'Location_32',
 'Location_33',
 'Location_34',
 'Location_35',
 'Location_36',
 'Location_37',
 'Location_38',
 'Location_39',
 'Location_40',
 'Location_41',
 'Location_42',
 'Location_43',
 'Location_44',
 'Location_45',
 'Location_46',
 'Location_47',
 'Location_48',
 'Location_49',
 'Location_50',
 'Location_51',
 'Location_52',
 'Location_53',
 'Location_54',
 'Location_55',
 'Location_56',
 'Location_57',
 'Location_58',
 'Location_59',
 'Location_60',
 'Location_61',
 'Location_62',
 'Location_63',
 'Location_64',
 'Location_65',
 'Location_66',
 'Location_67',
 'Location_68',
 'Location_69',
 'Location_70',
 'Location_71',
 'Location_72',
 'Location_73',
 'Location_74',
 'Location_75',
 'Location_76',
 'Location_77',
 'Location_78',
 'Location_79',
 'Location_80',
 'Location_81',
 'Location_82',
 'Location_83',
 'Location_84',
 'Location_85',
 'Location_86',
 'Location_87',
 'Location_88',
 'Location_89',
 'Location_90',
 'Location_91',
 'Location_92',
 'Location_93',
 'Location_94',
 'Location_95',
 'Location_96',
 'Location_97',
 'Location_98',
 'Location_99',
 'Location_100',
 'Location_101',
 'Location_102',
 'Location_103',
 'Location_104',
 'Location_105',
 'Location_106',
 'Location_107',
 'Location_108',
 'Location_109',
 'Location_110',
 'Location_111',
 'Location_112',
 'Location_113',
 'Location_114',
 'Location_115',
 'Location_116',
 'Location_117',
 'Location_118',
 'Location_119',
 'Location_120',
 'Location_121',
 'Location_122',
 'Location_123',
 'Location_124',
 'Location_125',
 'Location_126',
 'Location_127',
 'Location_128',
 'Location_129',
 'Location_130',
 'Location_131',
 'Location_132',
 'Location_133',
 'Location_134',
 'Location_135',
 'Location_136',
 'Location_137',
 'Location_138',
 'Location_139',
 'Location_140',
 'Location_141',
 'Location_142',
 'Location_143',
 'Location_144',
 'Location_145',
 'Location_146',
 'Location_147',
 'Location_148',
 'Location_149',
 'Location_150',
 'Location_151',
 'Location_152',
 'Location_153',
 'Location_154',
 'Location_155',
 'Location_156',
 'Location_157',
 'Location_158',
 'Location_159',
 'Location_160',
 'Location_161',
 'Location_162',
 'Location_163',
 'Location_164',
 'Location_165',
 'Location_166',
 'Location_167',
 'Location_168',
 'Location_169',
 'Location_170',
 'Location_171',
 'Location_172',
 'Location_173',
 'Location_174',
 'Location_175',
 'Location_176',
 'Location_177',
 'Location_178',
 'Location_179',
 'Location_180',
 'Location_181',
 'Location_182',
 'Location_183',
 'Location_184',
 'Location_185',
 'Location_186',
 'Location_187',
 'Location_188',
 'Location_189',
 'Location_190',
 'Location_191',
 'Location_192',
 'Location_193',
 'Location_194',
 'Location_195',
 'Location_196',
 'Location_197',
 'Location_198',
 'Location_199',
 'Location_200',
 'Location_201',
 'Location_202',
 'Location_203',
 'Location_204',
 'Location_205',
 'Location_206',
 'Location_207',
 'Location_208',
 'Location_209',
 'Location_210',
 'Location_211',
 'Location_212',
 'Location_213',
 'Location_214',
 'Location_215',
 'Location_216',
 'Location_217',
 'Location_218',
 'Location_219']

In [16]:
df_Loc = pd.DataFrame(location_list, columns=['Location'])
df_Loc

         Location
0      Location_1
1      Location_2
2      Location_3
3      Location_4
4      Location_5
..            ...
214  Location_215
215  Location_216
216  Location_217
217  Location_218
218  Location_219

[219 rows x 1 columns]

In [17]:
df_UP = pd.read_csv("Up_Data.csv")
df_UP

   Direction  Car  Motorbike  Bus  Truck
0         Up   21          0    0      6
1         Up   21          0    0      5
2         Up   23          0    0      3
3         Up   18          0    0      7
4         Up   10          0    0      4
5         Up   13          0    0     10
6         Up   22          0    1      5
7         Up   63          0    0      2
8         Up   26          0    0      4
9         Up   65          0    0      5
10        Up   18          0    0      3
11        Up   17          0    0      4
12        Up   34          0    0      9
13        Up   20          0    0      5
14        Up   13          0    0      5
15        Up   15          0    0      2
16        Up   85          0    0      5
17        Up   73          0    0      5
18        Up   79          0    0      1
19        Up   91          0    0      7
20        Up   37          0    1      4
21        Up   72          0    0      3
22        Up  237          0    0      4
23        Up  259          0    0      8
24        Up   85          0    0      3
25        Up   96          0    0      6
26        Up   98          0    0      2
27        Up   19          0    0      3
28        Up   33          0    0      2
29        Up   69          0    0      3
30        Up   44          0    0      0
31        Up   37          0    0      4
32        Up   99          0    0      4
33        Up  233          0    0      1
34        Up  119          0    0      9
35        Up   94          0    1      4
36        Up   43          0    0      1
37        Up  150          0    0      2
38        Up  265          0    0      1

In [18]:
UP = pd.concat([df_UP, df_Loc], axis=1)
UP.to_csv("UP.csv")

In [19]:
df_DOWN = pd.read_csv("Down_Data.csv")
df_DOWN

   Direction  Car  Motorbike  Bus  Truck
0       Down   10          0    0      1
1       Down   17          0    0      0
2       Down   13          0    0      4
3       Down   10          0    0      1
4       Down   11          0    0      1
5       Down   11          0    0      1
6       Down    8          0    0      6
7       Down   10          0    0      3
8       Down   12          0    0      2
9       Down   15          0    0      2
10      Down   20          0    0      4
11      Down   16          0    0      2
12      Down   23          0    0      2
13      Down   13          0    0      4
14      Down   16          0    0      0
15      Down   12          0    0      1
16      Down  137          0    0      1
17      Down   30          0    0      1
18      Down   69          0    0      0
19      Down   20          0    0      2
20      Down    5          0    0      4
21      Down   34          0    0      1
22      Down   69          0    1      2
23      Down   29          0    0      2
24      Down   33          0    0      0
25      Down   63          0    0      3
26      Down   52          0    0      2
27      Down   15          0    0      1
28      Down   24          0    0      3
29      Down   23          0    0      2
30      Down   25          0    0      2
31      Down  229          0    0      3
32      Down  100          0    0      1
33      Down   70          0    0      1
34      Down  164          0    0      2
35      Down   63          0    0      3
36      Down  118          0    0      1
37      Down   73          0    0      2
38      Down    7          0    0      2

In [20]:
UP = pd.concat([df_DOWN, df_Loc], axis=1)
UP.to_csv("DOWN.csv")

In [19]:
# for i in files:
#     i = 'C:\\Users\\Raj\\PycharmProjects\\Capstone_Project(Sem3)\\Week_9_Code\\Code and videos\\Vehicle Detection Raw Videos\\'+i #addres
#     cap = cv2.VideoCapture(i)
#     realTime()

In [20]:
# with open("data.csv", 'a+') as f1:
#     cwriter = csv.writer(f1)
#     cwriter.writerow(['Direction', 'car', 'motorbike', 'bus', 'truck'])
#     up_list.insert(0, "Up")
#     down_list.insert(0, "Down")
#     cwriter.writerow(up_list)
#     cwriter.writerow(down_list)
# f1.close()

In [21]:
# print(net.getUnconnectedOutLayers())

In [22]:
# print(len(net.getLayerNames()))

In [23]:
# layersNames = net.getLayerNames()

In [24]:
# layersNames[201]